

<body>
    

    <div class="container ">
       
      <div class="card " (click)="create()">
          <div class="face face1">
              <div class="content">
                  <div class="icon">
                      <i class="fas fa-utensils"></i>
                  </div>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Click to create</p>
                  <h3>
                      New Dish
                  </h3>
                  
              </div>
          </div>
      </div>
      <div class="card" (click)="admindish()">
          <div class="face face1">
              <div class="content">
                  <div class="icon">
                      <i class="fas fa-hamburger"></i>
                  </div>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>Click TO</p>
                  <h3>
                       View Dish
                  </h3>
                  
              </div>
          </div>
      </div>
   
  </div>
  </body>
